name: Veracode Upload & Scan

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  veracode:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Package application
        run: |
          zip -r app.zip .

      - name: Veracode Upload & Scan
        uses: veracode/veracode-uploadandscan-action@0.2.11
        with:
          appname: "Verademo-Test"
          createprofile: false
          filepath: "./"
          version: "github-build-${{ github.run_id }}"
          vid: ${{ secrets.VERACODE_API_ID }}
          vkey: ${{ secrets.VERACODE_API_KEY }}
          scantimeout: 120               # optional: max minutes to wait for scan
          scanpollinginterval: 60       # optional: poll every 60s
          deleteincompletescan: true    # optional: auto remove incomplete scans
          maxretrycount: 5
          # <-- createsandbox: true            # <-- create the sandbox if it doesn't exist
          # <-- sandboxname: "CI-Sandbox"
          
      - name: Download Veracode Scan Results
        run: |
          java -jar VeracodeJavaAPI.jar \
          -appname "Verademo-Test" \
          -vid ${{ secrets.VERACODE_API_ID }} \
          -vkey ${{ secrets.VERACODE_API_KEY }} \
          -action getbuildinfo \
          -version "github-build-${{ github.run_id }}" \
          -output results.xml

      - name: Upload Veracode Results Artifact
        uses: actions/upload-artifact@v4
        with:
          name: veracode-scan-results
          path: results.xml

      - name: Fail if high severity found
        run: |
          if grep -q 'Severity="High"' results.xml; then
            echo "High severity vulnerability detected!"
            exit 1
          fi
          name: veracode-scan-results
          path: results.xml
          
