name: Veracode Upload & Scan

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  veracode:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Package application
        run: |
          zip -r app.zip .

      - name: Veracode Upload & Scan
        uses: veracode/veracode-uploadandscan-action@0.2.10
        with:
          appname: "Verademo-Test"
          createprofile: true
          filepath: "app.zip"
          version: "github-build-${{ github.run_id }}"
          vid: ${{ secrets.VERACODE_API_ID }}
          vkey: ${{ secrets.VERACODE_API_KEY }}
          scantimeout: 120               # optional: max minutes to wait for scan
          scanpollinginterval: 60       # optional: poll every 60s
          deleteincompletescan: true    # optional: auto remove incomplete scans
