name: Veracode Scan

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  veracode:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Package application
        run: |
          zip -r app.zip .

      - name: Veracode Upload and Scan
        uses: veracode/veracode-uploadandscan-action@0.2.10
        with:
          vid: ${{ secrets.VERACODE_API_ID }}
          vkey: ${{ secrets.VERACODE_API_KEY }}
          appname: "Verademo-Test"
          createprofile: true
          filepath: "app.zip"
          version: "github-build-${{ github.run_id }}"
          scanpollingwait: 60
          scantimeout: 120
